.main {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  max-width: 70vw;
  margin: 0 auto;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttonSection {
  display: flex;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 50px;
}

.buttonGenerator:hover {
  font-weight: bold;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.buttonGenerator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 150px;
  margin-left: 20px;
  padding: 0 10px;
  border: none;
  border-radius: 8px;
  font-family: monospace;
  border: none;
  outline: none;
  color: white;
  background: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
  background-size: 600% 600%;
  animation: gradientAnimation 8s ease infinite;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.buttonGenerator:hover {
  transform: scale(1.05);
}

.imageQuote {
  width: 100%;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.6);
  border-top: 4px solid transparent;
  border-radius: 50%; /* Circular shape */
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite; /* Animation applied here */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.quoteActions {
  display: flex;
  margin-bottom: 20px;
}

.actionButton {
  cursor: pointer;
  font-family: monospace;
  color: white;
  fill: white;
  width: 50px;
  height: 50px;
}

.actionButton + .actionButton {
  margin-left: 30px;
}

@media only screen and (max-width: 1024px) {
  .main {
    max-width: 100vw;
    padding: 50px 20px;
  }
  .buttonSection {
    flex-direction: column;
    align-items: center;
  }
  .buttonGenerator {
    margin: 20px 0;
  }
}
