.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttonSection {
  display: flex;
  margin-top: 10px;
  width: 50%;
  margin-bottom: 50px;
}

.buttonGenerator {
  height: 40px;
  width: 150px;
  margin-left: 20px;
  padding: 0 10px;
  border: none;
  border-radius: 8px;
}
